/* ==================== HIDDEN STATE ==================== */
.hidden {
  display: none !important;
}
/* ============================ MODALS ============================ */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.272);
  backdrop-filter: blur(5px);
  z-index: 10000;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow-y: auto; 
}

.modal-content {
  background: linear-gradient(135deg, var(--BosonBlue), var(--Black));
  border: 3px solid var(--VortexViolet);
  box-shadow: 0 0 50px var(--VortexGlow3);
  border-radius: 20px;
  max-width: 950px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  animation: modalSlideIn 0.4s ease;
}

@keyframes modalSlideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-header {
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(50px);
  padding: 1rem 1.5rem;
  border-bottom: 2px dashed var(--PlasmaGlow2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: 'GothNerd', sans-serif;
}

.modal-title {
  font-family: 'GothNerd', sans-serif;
  font-size: 2.2rem;
  background: linear-gradient(45deg, var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink), var(--PlasmaPurple), var(--AquaAura), var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
  flex: 1;
  text-align: left;
}

.modal-close {
  background: var(--HiggsHotPink);
  color: var(--ParticlePink);
  border: 2px solid var(--LaserRed);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  box-shadow: 0 0 15px var(--LaserRed);
}

.modal-close:hover {
  background: var(--ParticlePink);
  color: var(--HiggsHotPink);
  transform: rotate(90deg) scale(1.1);
  box-shadow: 0 0 25px var(--LaserRed);
}

.modal-body {
  padding: 2rem;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #FFFFFF;
  font-family: 'GothNerd';
}


.modal-body h1 {
  color: var(--NuclearFuscia);
  margin: 0.2rem 0 0.5rem 0;
  font-size: 2rem;
  font-family: 'GothNerd', sans-serif;
}

.modal-body h2 {
  color: var(--AlphaAqua);
  margin: 0.2rem 0 0.5rem 0;
  font-size: 1.8rem;
  font-family: 'GothNerd', sans-serif;
}

.modal-body h3 {
  color: var(--ParticlePink);
  margin: 0.2rem 0 0.5rem 0;
  font-size: 1.5rem;
  font-family: 'GothNerd', sans-serif;
}

.modal-body h4 {
  color: var(--AquaAura);
  margin: 0.2rem 0 0.5rem 0;
  font-size: 1.2rem;
  font-family: 'GothNerd', sans-serif;
}

.modal-body p {
  margin: 1rem 0;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-body ul {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.modal-body li {
  margin: 0.5rem 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* ====================== SCROLL BAR =========================*/
.modal-content::-webkit-scrollbar {
  width: 18px;
  height: 14px;
}

.modal-content::-webkit-scrollbar-track {
  background: #0a0015;
  border: 2px dashed #830cdea2;
  box-shadow: inset 0 0 12px #000000cc;
  border-radius: 50px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: linear-gradient(
    145deg,
    #ff69b4 0%,
    #c71585 5%,
    #dc4ce8 10%,
    #830cde 15%,
    #00ffff 20%,
    #67FEBD 25%
  );
  border-radius: 8px;          
  border: 2px solid #000000;
  box-shadow:
    0 0 10px #ff69b4aa,
    0 0 20px #c71585aa,
    inset 0 0 6px #ffffff33;
  background-size: 300% 300%;    
  

  filter: hue-rotate(0deg);
  animation: 
    hueCycle 18s linear infinite,    
    neonFlow 8s ease-in-out infinite alternate; 
}

.modal-content::-webkit-scrollbar-thumb:hover {
  animation-duration: 12s, 4s;     
  box-shadow:
    0 0 16px #67febdcc,
    0 0 32px #58e84ccc,
    0 0 50px #00ffffaa;
  border-color: var(--AlphaAqua);
  filter: brightness(1.2) saturate(1.5);   
}

@keyframes hueCycle {
  0%   { filter: hue-rotate(0deg) brightness(1.1) saturate(1.3); }
  25%  { filter: hue-rotate(90deg) brightness(1.3) saturate(1.6); }
  50%  { filter: hue-rotate(180deg) brightness(1.4) saturate(1.8); }
  75%  { filter: hue-rotate(270deg) brightness(1.2) saturate(1.5); }
  100% { filter: hue-rotate(360deg) brightness(1.1) saturate(1.3); }
}

@keyframes neonFlow {
  0%   { background-position: 0% 50%; }
  100% { background-position: 300% 50%; }
}

/* ====================== START SCREEN======================  */
.start-screen-modal {
  display: none;
  position: fixed;
  inset: 0;                        
  z-index: 900;                    
  justify-content: center;
  align-items:   center;
}

.start-screen-modal.show {
  display: flex;                   
}

.start-screen-modal__inner {
  display: flex;
  flex-direction: column;
  align-items:   center;
  gap:           16px;            
}

.start-screen-modal__hint {
  color: transparent;
}

.modal-buttons-start {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
}

.modal-buttons-start .modal-button-start-PC, .modal-button-start-mobile {
  min-width: 400px;
  padding: 10px 30px;
}
.modal-button-start-PC, .modal-button-start-mobile {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.7rem;
  text-transform: uppercase;
  background: #0f0f1a;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
}

.modal-button-start-PC {
  border: 2px solid var(--HiggsHotPink);
    box-shadow: 
    0 0 8px var(--PlasmaPurple),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--PlasmaPurple);

}

.modal-button-start-PC:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--PlasmaPurple),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--PlasmaPurple);
}

.modal-button-start-PC:before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-start-PC:hover::before {
  left: 100%;
}


.modal-button-start-mobile {
  border: 3px solid var(--PlasmaPurple);
    box-shadow: 
    0 0 8px var(--HiggsHotPink),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--HiggsHotPink);
  
}

.modal-button-start-mobile:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--HiggsHotPink),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--HiggsHotPink);
}

.modal-button-start-mobile::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-start-mobile:hover::before {
  left: 100%;
}




/* ====================== HOW TO PLAY ======================  */

.mission-text {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 2rem;
  font-family: 'GothNerd' !important;
  padding: 1rem 4rem;
  background: linear-gradient(45deg, var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink), var(--PlasmaPurple), var(--AquaAura), var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

blockquote {
  background: linear-gradient(135deg, rgba(0,255,255, 0.2), rgba(165,90,255,0.2));
  border-left: 4px solid var(--CoolGray);
  padding: 1rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: var(--ParticlePink);
}

cite {
  display: block;
  text-align: right;
  margin-top: 0.5rem;
  color: var(--AlphaAqua);
  font-weight: bold;
}


/* ==================== MAIN MENU MODAL ==================== */
#mainMenuModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#mainMenuModal.show {
  display: flex;
}

.modal-mainmenu-content {
    display: flex !important;
  flex-direction: row !important;
  gap: 30px !important;
  max-width: 1100px !important;
  width: 95vw !important;
  height: 95vh !important;
  border: 3px solid var(--VortexViolet) !important;
  box-shadow: 0 0 50px var(--VortexGlow3) !important;
  border-radius: 20px !important;
  padding: 15px 25px !important;
  background-image: url('../images/backgrounds/MenuBG3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  
}

.modal-mainmenu-header {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 900px;
  max-height: 125px !important;
  background: linear-gradient(135deg, rgb(17, 12, 30), rgb(0, 0, 0));
  border: 6px solid;
  border-image: linear-gradient(
    45deg,
    hsl(0, 90%, 60%),
    hsl(60, 90%, 60%),
    hsl(120, 90%, 60%),
    hsl(180, 90%, 60%),
    hsl(240, 90%, 60%),
    hsl(300, 90%, 60%),
    hsl(360, 90%, 60%)
  ) 1;
  animation: borderRainbow 5s linear infinite;
  box-shadow: 0 0 30px rgb(0, 0, 0);
}

@keyframes borderRainbow {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

.menu-title-img {
  width: 100%;
  max-width: 875px;
  max-height: 110px;
  display: block;
  filter: drop-shadow(0 0 20px rgba(27, 27, 27, 0.5));
}


.modal-buttons-menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

.modal-buttons-menu .modal-button-menu-play, .modal-button-menu-how {
  width: 450px !important;
  max-width: 450px !important;
  height: 60px !important;
  max-height: 60px !important;
}
.modal-button-menu-play, .modal-button-menu-how {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.6rem;
  text-transform: uppercase;
  background: #0f0f1a;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
}

.modal-button-menu-play {
  border: 2px solid var(--RadioactiveGreen);
    box-shadow: 
    0 0 8px var(--RadioactiveGreen),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--RadioactiveGreen);

}

.modal-button-menu-play:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--RadioactiveGreen),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--RadioactiveGreen),
}

.modal-button-menu-play:before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-menu-play:hover::before {
  left: 100%;
}


.modal-button-menu-how {
  border: 2px solid var(--CoolGray);
    box-shadow: 
    0 0 8px var(--AlphaAqua),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--AlphaAqua);
  
}

.modal-button-menu-how:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--AlphaAqua),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AlphaAqua);
}

.modal-button-menu-how::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-menu-how:hover::before {
  left: 100%;
}




/* ==================== MOBILE RESPONSIVE ==================== */
@media (max-width: 950px) {
  .menu-title-img {
    max-height: 80px !important;
  }
  
  .modal-mainmenu-header {
    padding: 0.3rem 0.3rem;
    max-height: 100px !important;
  }
  

.button-column {
  bottom: 7%;
}

.modal-buttons-menu .modal-button-menu-play, .modal-button-menu-how {
  width: 350px !important;
  max-width: 350px !important;
  height: 50px !important;
  max-height: 50px !important;
  font-size: 1.2rem;
}
}




@media (max-width: 480px) {
  .menu-title-img {
    width: 95vw;
  }
  
  .modal-mainmenu-header {
    top: 10px;
    padding: 0.5rem 1rem;
    border-width: 4px;
  }
  

  
}

/* ==================== CHARACTER SELECT MODAL ==================== */
#charSelectModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  z-index: 10000;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
}

#charSelectModal.show {
  display: flex !important;
}

.modal-charselect-content {
  display: flex !important;
  flex-direction: row !important;
  gap: 20px !important;
  max-width: 1200px !important;
  width: 85% !important;
  height: 90vh !important;
  border: 3px solid var(--VortexViolet) !important;
  box-shadow: 0 0 50px var(--VortexGlow3) !important;
  border-radius: 20px !important;
  padding: 15px 30px !important;
  background-image: url('../images/backgrounds/Select.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.charselect-left {
  flex: 1 1 50% !important;
  min-width: 0 !important;
  max-height: 85%;
  max-width: 670px;
  background: rgb(17, 17, 17) !important;
  border: 4px solid rgb(109, 54, 15) !important;
  border-radius: 8px !important;
  padding: 5px 15px !important;
  display: flex !important;
  flex-direction: column !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.795) !important;
  overflow-y: auto !important;
  text-align: center;
}

.charselect-right {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
  padding: 0 !important;
  max-width: 250px;
  width: 250px;

}
.charselect-left .modal-button {
  position:fixed;
  bottom: 15px;
  left: 20px;
  font-size: 1.2rem !important;
  width: 200px;
}

.charselect-right .modal-button {
    position:fixed;
  bottom: 15px;
  right: 20px;
  font-size: 1.2rem !important;
  width: 200px;
}


.panel-title {
  font-family: 'GothNerd', sans-serif !important;
  font-size: 2rem !important;
  background: linear-gradient(45deg, var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink), var(--PlasmaPurple), var(--AquaAura), var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center !important;
  margin-bottom: 5px !important;
  margin-top: 0px;
}

.character-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 10px !important;
  padding: 15px 10px !important;
  flex: 1 !important;
  overflow-y:hidden !important
}


.character-card {
  background: rgba(0, 0, 0);
  border: 2px dashed rgba(144, 144, 192, 0.237);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  max-width: 200px;
  max-height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.character-card:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px #9090C0,
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px #9090C0;
}

.character-card::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.character-card:hover::before {
  left: 100%;
}

.char-select-img {
  width: 110px;
  height: auto;
  display: block;
  image-rendering: pixelated; 
  position: relative;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.char-card-name {
  font-family: 'GothNerd', sans-serif;
  font-size: 1.4rem;
  color: var(--White);
  text-shadow: 0 0 8px var(--AlphaAqua);
  text-transform: uppercase;
  margin-top: 0px !important;
  position: relative;
  left:27%;
  bottom: 30%;
  z-index: 100;  
  text-shadow: 
    3px -1px 0 #000000,
    -3px 1px 0 #000000,

}



.character-card.selected {
  transform: translateY(-2px) scale(1.02);
  border: 1px solid var(--RadioactiveGreen);
  background: rgba(89, 232, 76, 0.055);
    box-shadow: 
    0 0 10px var(--RadioactiveGreen),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--RadioactiveGreen);
}

.stats-panel {
  background: rgb(17, 17, 17) !important;
  border: 4px solid rgb(109, 54, 15) !important;
  border-radius: 12px !important;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.74) !important;
  width: 100% !important;
  height: 55%;
  position: absolute;
  right: 30px;
  max-width: 300px !important;
}

.stats-list {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px;
  margin-top: 15px;
}

.select-stat-row {
  display: flex !important;
  justify-content: space-between !important;
  font-family: 'Orbitron', monospace !important;
  font-size: 1.1rem;
  color: var(--LightGray) !important;
  align-items: center !important;
}

.select-stat-row span:first-child {
  color: var(--AlphaAqua) !important;
  font-weight: bold !important;
}

.select-stat-row span:last-child {
  color: var(--ParticlePink) !important;
}

.preview-panel {
  display: none !important;   

}



#charName {
  font-family: 'GothNerd', sans-serif !important;
  font-size: 3rem;
  color: transparent;
  text-align: center !important;
  text-transform: uppercase !important;
  border-radius: 15px;


}



@media (max-width: 950px) {

.modal-charselect-content {
  gap: 10px !important;
  width: 95% !important;
  height: 90vh !important;
}

.charselect-left {
  max-height: 85%;
  max-width: 450px;


}

.charselect-right {
  max-width: 150px !important;


}
 

.panel-title {
    font-size: 1rem;
    margin-top: 0px;
}


  .preview-panel {
    display: none !important; 
  }

.character-card {
  width: 100%;
  height: 100%;
}

.char-card-name {
  font-size: 0.7rem;
}

.char-select-img {
  max-width: 70px;
  image-rendering: pixelated; 
  position: relative;
  right: 15%;
  top: 50%;
  transform: translateY(-35%);
}


  .panel-title {
  font-size: 1rem !important;
  margin-bottom: 3px !important;
}

  .character-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px;
  }
  



.stats-panel {
  padding: 10px !important;
  height: 55%;
  max-width: 200px !important;
}

.stats-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  font-size: 0.7rem;
}

.select-stat-row {
  font-size: 0.8rem;
}
}

@media (max-width: 750px) {

.charselect-right {
  max-width: 300px !important;
 

}

.char-card-name {
  font-size: 0.7rem;
}

.char-select-img {
  width: 55px;
}

.stats-panel {
  padding: 10px !important;
  height: 55%;
  max-width: 200px !important;
}

}

/* ==================== GAME OVER MODAL ==================== */
#gameOverModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
  z-index: 10000;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#gameOverModal.show {
  display: flex;
}

.modal-gameover-content {
  background: linear-gradient(135deg, var(--BosonBlue), var(--Black));
  border: 3px solid var(--RadiationRed);
  box-shadow: 
    0 0 50px var(--LaserRed),
    inset 0 0 40px rgba(255, 0, 89, 0.1);
  border-radius: 20px;
  max-width: 750px;
  width: 100%;
  height: 85%;
  padding: 1rem;
  animation: modalSlideIn 0.4s ease;
  text-align: center;
}

.modal-gameover-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title-gameover {
  font-family: 'GothNerd', sans-serif;
  font-size: 5rem;
  background: linear-gradient(45deg,  var(--RadiationRed), var(--LaserRed), var(--RadiationRed), var(--LaserRed), var(--RadiationRed));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0px !important;
  text-align: center;
}

.disappointment-text {
  font-size: 1.9rem;
  color: var(--MutedGray);
  font-family: 'GothNerd'!important;
  text-transform: uppercase;
  margin-top: 0px !important;
}

.score-text {
  font-size: 1.5rem;
  color: var(--MutedGray);
  font-family: 'GothNerd'!important;
  margin: 2rem 0;
  padding: 1rem;
  background: rgba(255, 0, 89, 0);
  border: 1px solid rgba(255, 0, 89, 0);
  border-radius: 10px;
  text-transform: uppercase;
}




.modal-button-gameover {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px 30px !important;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #0f0f1a;
  border: 2px solid var(--RadiationRed);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 
    0 0 8px var(--LaserRed),
    inset 0 0 12px rgba(255, 255, 255, 0.103),
    0 0 35px var(--LaserRed);
  overflow: hidden;
}

.modal-button-gameover:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--LaserRed),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--LaserRed);
}

.modal-button-gameover::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(254, 46, 46, 0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-gameover:hover::before {
  left: 100%;
}


@media (max-width: 950px) {

.gameOver-btn {
  font-size: 0.7rem;
  height: 35px;
}
}

/* ==================== YOU DIED MODAL ==================== */
#youDiedModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw !important;
  background: rgba(0, 0, 0, 0.669);
  backdrop-filter: blur(5px);
  z-index: 10000;
  align-items: center;
  justify-content: center;
}

#youDiedModal.show {
  display: flex;
}

.modal-youdied-content {
  background: linear-gradient(135deg, rgba(17, 12, 30, 0.95), rgba(0, 0, 0, 0.95));
  border: 3px solid var(--CoolGray);
  box-shadow: 
    0 0 20px var(--CoolGray),
    inset 0 0 50px rgba(196, 195, 208, 0.1);
  border-radius: 20px;
  max-width: 600px !important;
  width: 100%;
  height: 90%;
  padding: 1rem;
  animation: modalSlideIn 0.4s ease;
  font-family: 'GothNerd';
  text-align: center;
}

.modal-youdied-header {
  padding: 0rem 0 0rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

.modal-title-youdied {
  font-family: 'GothNerd', !important;
  font-size: 4rem;
  font-weight: bold;
  background: linear-gradient(45deg,  var(--PlanksPink), var(--HiggsHotPink), var(--LaserRed), var(--HiggsHotPink), var(--PlanksPink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  text-align: center;
}

.encourage-text {
  font-size: 1.4rem;
  color: var(--LightGray);
  font-family: 'GothNerd' !important;
  margin-top: 0rem !important;
}


.stat-line {
  font-size: 1.3rem;
  color: #FFFFFF;
  font-family: 'GothNerd' !important;
  margin-bottom: 0px !important;
}

.modal-buttons-YouDied {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 0px !important;
}

.modal-buttons-YouDied .modal-button-died {
  min-width: 350px;
  padding: 7px 30px;
}
.modal-button-died {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border: 1px solid var(--CoolGray);
    box-shadow: 
    0 0 8px var(--CoolGray),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--CoolGray);
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.2rem;
  text-transform: uppercase;
  background: #0f0f1a;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
}


.modal-button-died:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px #9090C0,
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px #9090C0;
}

.modal-button-died::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-died:hover::before {
  left: 100%;
}


/* ==================== MOBILE RESPONSIVE ==================== */
@media (max-width: 950px) {
  .modal-title-gameover,
  .modal-title-youdied {
    font-size: 2.5rem;
    margin-bottom: 0px;
    margin-top: 7px !important;
    line-height: 2.5rem;
  }
  
.modal-youdied-content{
  height: 95%;
  width: 90vw;
}

.modal-button-died {
  font-size: 0.7rem;
  max-height: 35px;
}

  .disappointment-text,
  .encourage-text {
    font-size: 0.9rem;
    margin-top:0px;
    margin-bottom:0px;
    line-height: 0.9rem;
  }
  
  .score-text,
  .stat-line {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  

}


/* ==================== PAUSE MODAL ==================== */
#pauseModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 10000;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#pauseModal.show {
  display: flex;
}

.modal-pause-content {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.95), rgba(17, 12, 30, 0.95));
  border: 3px solid var(--CoolGray);
  box-shadow: 
    0 0 40px var(--PlasmaPurple),
    inset 0 0 50px rgba(103, 254, 189, 0.1);
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  height: 80%;
  padding: 0rem;
  animation: modalSlideIn 0.3s ease;
  text-align: center;
}

.modal-pause-header {
  padding: 1rem 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title-pause {
  font-family: 'GothNerd', monospace;
  font-size: 4.5rem;
  background: linear-gradient(45deg, var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink), var(--PlasmaPurple), var(--AquaAura), var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0px;
  text-align: center;
  letter-spacing: 3px;
}

.pause-buttons{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: 0px; 
  min-width: 450px;
  font-size: 1.9rem;
}


.modal-buttons-pause {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 50px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.3rem;
  text-transform: uppercase;
  color: white;
  background: #0f0f1a;
  border: 2px solid #9090C0;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 
    0 0 5px var(--AlphaAqua),
    inset 0 0 8px rgba(255, 255, 255, 0.103),
    0 0 10px var(--AquaAura);
  overflow: hidden;
}

.modal-buttons-pause:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--AlphaAqua),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AquaAura);
}

.modal-buttons-pause::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-buttons-pause:hover::before {
  left: 100%;
}

/* ==================== MOBILE RESPONSIVE ==================== */
@media (max-width: 950px) {
  .modal-title-pause {
    font-size: 2.8rem;
    margin-bottom: 0px;
  }
  
  .modal-pause-content {
    padding: 0.5rem;
    max-height: 90%;
    height: 90%;
    width: 60%;
  }


.pause-buttons{
  gap: 10px;
  bottom: 20%;
}


.modal-buttons-pause {   
  width: 200px;
  height: 35px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 0.9rem;
}
}


/* ============================ CHALLENGE ROOM MODALS ============================ */
.unlock {
  font-family: 'GothNerd';
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ STATS UPGRADE ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.modal-upgrade-content {
  background: linear-gradient(135deg, var(--BosonBlue), var(--Black));
  border: 3px solid var(--VortexViolet);
  box-shadow: 0 0 50px var(--AquaAura);
  border-radius: 20px;
  width: 90%;
  max-width: 900px;
  max-height: 95vh;
  overflow-y: auto;
  animation: modalSlideIn 0.4s ease;
  padding: 10px 20px;
}

.unlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.stats-modal-points-remaining {
  font-family: 'GothNerd', sans-serif;
  font-size: 1.3rem;
  color: #dbe2e9;
  text-align: center;
  line-height: 10px;
  margin-top: 20px;
}

.stats-modal-points-remaining strong {
  background: linear-gradient(45deg, var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink), var(--PlasmaPurple), var(--AquaAura), var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 2.3rem;
  display: block;
  margin-bottom: 25px;
  line-height: 30px;
}

.stats-modal-points-value {
  color: var(--NuclearFuscia);
  font-family: 'GothNerd', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.stats-info {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.stats-card {
  border-radius: 18px;
  overflow: hidden;
  animation: pulse-glow 3s infinite ease-in-out;
  margin: 0px;
  position: relative;
}

.stats-content {
  background: #0f0f1a;
  border: 2px solid transparent;
  border-image: linear-gradient(135deg, #A55AFF, #ff69b4, #00ffff, #58e84c) 1;
  border-radius: 18px;
  box-shadow: 
    0 0 20px rgba(0, 255, 255, 0.3),
    inset 0 0 30px rgba(255, 255, 255, 0.08);
  padding:15px 50px;
}

.stats-content::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    135deg,
    transparent 0%,
    rgba(255,255,255,0.12) 20%,
    transparent 40%,
    rgba(0,255,255,0.08) 60%,
    transparent 100%
  );
  opacity: 0.6;
  pointer-events: none;
  animation: hologram-shimmer 8s infinite linear;
}

.stats-title {
  font-size: 1.2rem;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

.stat-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding: 3px 0;
}

.stat-label {
  font-size: 1.1rem;
  color: #ffffffcc;
}

.stat-value {
  font-family: 'Orbitron', monospace;
  font-size: 1.1rem;
  color: white;
}

.stats-card:hover {
  box-shadow: 0 0 40px rgba(165,90,255,0.5);
  animation: pulse-glow 2s infinite ease-in-out;
}

.stat-row.increase {
  animation: statIncrease 0.5s ease-in-out;
}

@keyframes statIncrease {
  0%, 100% { transform: scale(1); }
  50% { 
    transform: scale(1.1); 
    background: rgba(88, 232, 76, 0.2);
  }
}

.stats-little-buttons-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stats-little-buttons-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stats-modal-between-little-buttons {
  text-align: center;
  min-width: 170px;
}

.stats-modal-little-buttons-label {
  font-family: 'Orbitron', monospace;
  font-size: 0.9rem;
  color: #FFFFFF;
  display: block;
}

.stats-modal-little-buttons-sub-label {
  font-size: 0.8rem;
  color: #bac2c9;
}

.stats-modal-little-button-attack,
.stats-modal-little-button-speed,
.stats-modal-little-button-defense {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-family: 'GothNerd', 'Courier New', monospace;
  text-transform: uppercase;
  background: #0f0f1a;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  overflow: hidden;
  height: 45px;
  width: 45px;
  font-size: 1.3rem;
  flex-shrink: 0;
}

/* ATTACK */
.stats-modal-little-button-attack {
  border: 2px solid var(--AlphaAqua);
  box-shadow: 
    0 0 8px var(--AlphaAqua),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--AlphaAqua);
}

.stats-modal-little-button-attack:hover:not(:disabled) {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--AlphaAqua),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AlphaAqua);
}

.stats-modal-little-button-attack:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.25), transparent);
  transition: 0.7s;
}

.stats-modal-little-button-attack:hover:not(:disabled)::before {
  left: 100%;
}

/* SPEED */
.stats-modal-little-button-speed {
  border: 2px solid var(--PlasmaPurple);
  box-shadow: 
    0 0 8px var(--PlasmaPurple),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--PlasmaPurple);
}

.stats-modal-little-button-speed:hover:not(:disabled) {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--PlasmaPurple),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--PlasmaPurple);
}

.stats-modal-little-button-speed::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.25), transparent);
  transition: 0.7s;
}

.stats-modal-little-button-speed:hover:not(:disabled)::before {
  left: 100%;
}

/* DEFENSE */
.stats-modal-little-button-defense {
  border: 2px solid var(--HiggsHotPink);
  box-shadow: 
    0 0 8px var(--HiggsHotPink),
    inset 0 0 9px rgba(255, 255, 255, 0.103),
    0 0 10px var(--HiggsHotPink);
}

.stats-modal-little-button-defense:hover:not(:disabled) {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--HiggsHotPink),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--HiggsHotPink);
}

.stats-modal-little-button-defense::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,0.25), transparent);
  transition: 0.7s;
}

.stats-modal-little-button-defense:hover:not(:disabled)::before {
  left: 100%;
}

.modal-button-confirm-upgrade {
  padding: 12px 50px;
  font-family: 'GothNerd', 'Courier New', monospace;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #0f0f1a;
  border: 2px solid var(--RadioactiveGreen);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 
    0 0 8px var(--AquaAura),
    inset 0 0 12px rgba(255, 255, 255, 0.103),
    0 0 35px var(--AquaAura);
  overflow: hidden;
  position: relative;
}

.modal-button-confirm-upgrade:hover:not(:disabled) {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--RadioactiveGreen),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AquaAura);
}

.modal-button-confirm-upgrade::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(253, 251, 251, 0.25), transparent);
  transition: 0.7s;
}

.modal-button-confirm-upgrade:hover:not(:disabled)::before {
  left: 100%;
}

/* ==================== MOBILE RESPONSIVE ==================== */
@media (max-width: 950px) {
  .modal-upgrade-content {
    padding: 0px 15px !important;
    width: 80%;
    margin-top: 0px !important;
  }

  .unlock {
    gap: 5px;
  }

  .stats-modal-points-remaining {
    font-size: 0.9rem;
    margin-top: 0px;
  }

  .stats-modal-points-remaining strong {
    font-size: 0.9rem;
    line-height: 17px;
    margin-top: 0px !important;
  }

  .stats-modal-points-value {
    font-size: 0.9rem;
  }

  .stats-info {
    gap: 50px;
  }

  .stats-content {
    padding: 5px 40px;
  }

  .stats-title {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .stat-label {
    font-size: 0.9rem;
  }

  .stat-value {
    font-size: 0.9rem;
  }

  .stats-modal-little-buttons-label {
    font-size: 0.6rem;
  }

  .stats-modal-little-buttons-sub-label {
    font-size: 0.5rem;
  }

  .stats-modal-little-button-attack,
  .stats-modal-little-button-speed,
  .stats-modal-little-button-defense {
    width: 33px;
    height: 33px;
    font-size: 0.9rem;
  }

  .stats-modal-between-little-buttons {
    min-width: 140px;
  }

  .modal-button-confirm-upgrade {
    padding: 5px 35px;
    font-size: 0.9rem;
  }
}

@media (max-width: 750px) {
  .modal-upgrade-content {
    padding: 0px 15px !important;
    width: 95%;
    margin-top: 0px !important;
  }

  .unlock {
    gap: 5px;
  }

  .stats-modal-points-remaining {
    font-size: 0.8rem;
    margin-top: 0px;
    margin-bottom: 3px;
    }

  .stats-modal-points-remaining strong {
    font-size: 1rem;
    margin-top: 0px !important;
    margin-bottom: 7px !important;
  }

  .stats-modal-points-value {
    font-size: 0.8rem;
  }

  .stats-info {
    gap: 40px;
  }

  .stats-content {
    padding: 3px 40px;
  }

  .stats-title {
    font-size: 0.9rem;
    margin-bottom: 5px;
  }

  .stat-label {
    font-size: 0.8rem;
  }

  .stat-value {
    font-size: 0.8rem;
  }

.stats-little-buttons-group {
  margin-bottom: 7px;
}

.stats-little-buttons-row {
   margin-bottom: 7px;
}


  .stats-modal-little-buttons-label {
    font-size: 0.6rem;
    line-height: 0px;
  }

  .stats-modal-little-buttons-sub-label {
    font-size: 0.5rem;
  }

  .stats-modal-little-button-attack,
  .stats-modal-little-button-speed,
  .stats-modal-little-button-defense {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }

  .stats-modal-between-little-buttons {
    min-width: 140px;
  }

  .modal-button-confirm-upgrade {
    padding: 3px 35px;
    font-size: 0.8rem;
    margin-bottom: 10px !important;
  }
}

/*=========== FRAGMENT MODAL ========*/
    @keyframes float {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
  }

.modal-fragment-content {
   background: linear-gradient(135deg, var(--BosonBlue), var(--Black));
  border: 2px solid var(--VortexViolet);
  box-shadow: 0 0 50px var(--AquaAura);
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
  animation: modalSlideIn 0.4s ease;
}



.modal-fragment-header {
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(50px);
  padding: 0.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: 'GothNerd', sans-serif;
  margin-bottom: 5px !important;
}

.modal-fragment-title {
  font-family: 'GothNerd';
  font-size: 2.2rem;
  font-weight: bold;
  background: linear-gradient(45deg, var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink), var(--PlasmaPurple), var(--AquaAura), var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 0px;
  margin-top: 15px;
  flex: 1;
  text-align: center;
}

.fragment-count {
  font-family: 'GothNerd';
  font-size: 1.6rem;
  color: var(--ParticlePink);
  margin-top: 0px;
  margin-bottom: 20px;
}

.fragment-progress{
    text-align: center; 
    margin: 15px 0;
}


.fragment-icons {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  margin: 20px 0;
}

.fragment-icon{
  font-family: 'GothNerd', sans-serif;
  font-size: 2rem;
  background: linear-gradient(45deg, var(--HiggsHotPink), var(--VortexViolet), var(--HiggsHotPink), var(--VortexViolet), var(--HiggsHotPink), var(--VortexViolet), var(--HiggsHotPink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0 0 8px var(--ParticlePink);
  animation: float 3s ease-in-out infinite;
  width: 70px; 
  height: 70px; 
  border-radius: 50%; 
  border: 3px solid #9090c0; 
  display: flex; align-items: center; 
  justify-content: center; 
  margin: 5px;
  transition: all 0.3s;
}


.fragment-icon.collected {
    background: linear-gradient(45deg, var(--AquaAura), var(--RadioactiveGreen), var(--AquaAura), var(--RadioactiveGreen), var(--AquaAura), var(--RadioactiveGreen), var(--AquaAura), var(--RadioactiveGreen), var(--AquaAura), var(--RadioactiveGreen), var(--AquaAura), var(--RadioactiveGreen));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    background-clip: text;
    border-color: #58e84c !important;
    box-shadow: 0 0 20px var(--AquaAura);
    animation: collectFragment 0.5s ease-out;
    animation: float 3s ease-in-out infinite;
  }

  @keyframes collectFragment {
    0% { transform: scale(0) rotate(0deg); }
    50% { transform: scale(1.2) rotate(180deg); }
    100% { transform: scale(1) rotate(360deg); }
  }







.modal-button-fragment {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px 40px !important;
  margin: 15px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #0f0f1a;
  border: 2px solid var(--VortexViolet);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 
    0 0 8px var(--AlphaAqua),
    inset 0 0 12px rgba(255, 255, 255, 0.103),
    0 0 35px var(--AlphaAqua);
  overflow: hidden;
}

.modal-button-fragment:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--AlphaAqua),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AlphaAqua);
}

.modal-button-fragment::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(250, 250, 250, 0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-fragment:hover::before {
  left: 100%;
}

/* ==================== FRAGMENT MODAL MOBILE RESPONSIVE ==================== */

@media (max-width: 950px) {
  .modal-fragment-header {
  padding: 0.2rem 1.5rem;
  margin-bottom: 0px !important;
}
  
  .modal-fragment-title {
    font-size: 1.6rem;
    margin-bottom: 0px;
    margin-top: 12px;
  }
  
  .modal-fragment-content {
    padding: 0rem;
    max-height: 85%;
    max-width: 80%;
  }

.fragment-count {
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 7px;
}

.fragment-progress{
    margin: 7px 0;
}

  .fragment-icon {
    font-size:1.3rem;
    width: 45px;
    height: 45px;
    margin: 0px !important;
  }
.modal-button-fragment {
  padding: 6px 40px !important;
  margin: 4px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1rem;
}
}

@media (max-width: 750px) {
  .modal-fragment-header {
  padding: 0.3rem 1.5rem;
  margin-bottom: 0px !important;
}
  
  .modal-fragment-title {
    font-size: 1.3rem;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .modal-fragment-content {
    padding: 0rem;
    max-height: 85%;
    max-width: 75%;
  }

.fragment-count {
  font-size: 1.1rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

.fragment-progress{
    margin: 5px 0;
}

  .fragment-icon {
    font-size:1.2rem;
    width: 40px;
    height: 40px;
    margin: 0px !important;
  }
.modal-button-fragment {
  padding: 4px 40px !important;
  margin: 3px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1rem;
}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ NEW MOVE ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.modal-whiskerWhip {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.272);
  backdrop-filter: blur(5px);
  z-index: 10000;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow-y: hidden; 
}

.modal-whiskerWhip-content {
  background: linear-gradient(135deg, var(--BosonBlue), var(--Black));
  border: 3px solid var(--VortexViolet);
  box-shadow: 0 0 50px var(--AquaAura);
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  max-height: 95vh;
  overflow-y: hidden;
  animation: modalSlideIn 0.4s ease;
}

.modal-whiskerWhip-header {
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(50px);
  padding: 1rem 1.5rem;
  border-bottom: 2px dashed var(--PlasmaGlow2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-family: 'GothNerd', sans-serif;
}

.modal-whiskerWhip-title {
  font-family: 'GothNerd', sans-serif;
  font-size: 2rem;
  background: linear-gradient(45deg, var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink), var(--PlasmaPurple), var(--AquaAura), var(--AlphaAqua), var(--AquaAura), var(--PlasmaPurple), var(--HiggsHotPink));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 10px;
  margin-bottom:0px;
  flex: 1;
  text-align: center;
  line-height: 2.1rem;
}

.whiskerWhip-img {
  width: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.whiskerWhip-name {
  font-family: 'GothNerd';
  color: #00FFFF;
  line-height: 0.5rem;
  font-size: 1.5rem;
}

 .whiskerWhip-stats{
    color: #FFFFFF;
    line-height: 0.5rem;
    font-size: 1.1rem;

 }
 .replace-move {
  color: var(--ParticlePink);
  line-height: 0.5rem;
  font-size: 1.2rem;
 }
 
  #moveImage {
    animation: float 3s ease-in-out infinite;
  }

.move-container {
  overflow:hidden;
  padding: 0px;
}

.move-grid {
    display: flex;
    gap: 40px;
    padding: 5px 10px;
    margin-bottom: 0px;
}

.modal-button-replace-move {   
  --glow-intensity: 0.4;
  position: relative;
  padding: 10px 30px !important;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #b6b6b6;
  background: #0f0f1a;
  border: 1px solid var(--CoolGray);
  border-radius: 18px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 
    0 0 4px var(--AlphaAqua),
    inset 0 0 12px rgba(255, 255, 255, 0.103),
    0 0 15px var(--PlasmaPurple);
  overflow: hidden;
  margin-top: 0px;
}

.modal-button-replace-move:hover {
  transform: translateY(-1px) scale(1.03);
  border: 2px solid var(--AlphaAqua);
  color: #FFFFFF;
  box-shadow: 
    0 0 3px var(--RadioactiveGreen),
    inset 0 0 8px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AquaAura);
}

.modal-button-replace-move::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(250, 250, 250, 0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-replace-move:hover::before {
  left: 100%;
}


.modal-button-whiskerWhip {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 7px 40px !important;
  margin: 5px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #ffffff;
  background: #0f0f1a;
  border: 2px solid var(--VortexViolet);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 
    0 0 8px var(--AlphaAqua),
    inset 0 0 12px rgba(255, 255, 255, 0.103),
    0 0 35px var(--AlphaAqua);
  overflow: hidden;
}

.modal-button-whiskerWhip:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--AlphaAqua),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AlphaAqua);
}

.modal-button-whiskerWhip::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(250, 250, 250, 0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button-whiskerWhip:hover::before {
  left: 100%;
}


@media (max-width: 950px) {
.modal-whiskerWhip-content {
  max-height: 97vh;
}

.modal-whiskerWhip-header {
  padding: 0.4rem 1.5rem;
}

.modal-whiskerWhip-title {
  font-size: 1.4rem;
  margin-top: 4px;
  margin-bottom:0px;
  line-height: 1.4rem;
}

.whiskerWhip-img {
  width: 100px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.whiskerWhip-name {
  line-height: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 7px;
}

 .whiskerWhip-stats{
    line-height: 0.5rem;
    font-size: 0.6rem;
margin-bottom: 7px;
 }
 .replace-move {
  line-height: 0.5rem;
  font-size: 0.7rem;
  margin-bottom: 7px;
 }
 


.move-container {
  padding: 0px;
}

.move-grid {
    gap: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.modal-button-replace-move {   
  padding: 5px 30px !important;
  font-size: 0.6rem;
  margin-top: 0px;
}



.modal-button-whiskerWhip {   
  padding: 5px 40px !important;
  margin: 4px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 0.8rem;
}
}

@media (max-width: 750px) {
.modal-whiskerWhip-content {
  max-height: 97vh;
}

.modal-whiskerWhip-header {
  padding: 0.5rem 1.5rem;
}

.modal-whiskerWhip-title {
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom:0px;
  line-height: 1.3rem;
}

.whiskerWhip-img {
  width: 80px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.whiskerWhip-name {
  line-height: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 9px;
}

 .whiskerWhip-stats{
    line-height: 0.5rem;
    font-size: 0.7rem;
margin-bottom: 9px;
 }
 .replace-move {
  line-height: 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 8px;
 }
 


.move-container {
  padding: 0px;
}

.move-grid {
    gap: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.modal-button-replace-move {   
  padding: 5px 30px !important;
  font-size: 0.7rem;
  margin-top: 0px;
}



.modal-button-whiskerWhip {   
  padding: 6px 40px !important;
  margin: 5px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 0.8rem;
}
}

/* ================== MODAL BUTTON =========== */
.modal-button {   
  --glow-intensity: 0.4;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  font-family: 'GothNerd', 'Courier New', monospace; 
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  background: #0f0f1a;
  border: 2px solid #9090C0;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 
    0 0 8px var(--AlphaAqua),
    inset 0 0 12px rgba(255, 255, 255, 0.103),
    0 0 15px var(--AquaAura);
  overflow: hidden;
}

.modal-button:hover {
  transform: translateY(-1px) scale(1.03);
  box-shadow: 
    0 0 10px var(--AlphaAqua),
    inset 0 0 15px rgba(255, 255, 255, 0.103),
    0 0 20px var(--AquaAura);
}

.modal-button::before {
  content: '';
  position: absolute;
  top: 0; left: -100%;
  width: 50%; height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255,255,255,0.25),
    transparent
  );
  transition: 0.7s;
}

.modal-button:hover::before {
  left: 100%;
}